<div
  class="relative mx-auto mb-7 lg:mb-0 lg:mx-0 flex items-center justify-center size-28 lg:size-56"
>
  <div
    class="absolute size-full rounded-full -z-[1] blur-lg bg-gradient-to-b from-emerald-500 to-blue-500 animate-pulse"
  >
  </div>
  <img
    src="/profile.jpg"
    alt="I'm Jhostin Lener"
    class="size-full object-cover rounded-full"
  />
</div>
