---
import NavButton from "./NavButton.astro";
import HomeIcon from "@/images/icons/Home.astro";
import UserIcon from "@/images/icons/User.astro";
import CodeIcon from "@/images/icons/Code.astro";
import PresentationIcon from "@/images/icons/Presentation.astro";
---

<nav class="fixed bottom-2 lg:bottom-8 w-full overflow-hidden z-50">
  <div class="container mx-auto">
    <div
      class="w-full bg-black/20 h-20 backdrop-blur-2xl rounded-full max-w-[460px] mx-auto px-5 py-2 flex justify-between text-2xl text-gray-100/70"
    >
      <NavButton href="#home">
        <HomeIcon class="size-6 lg:size-8" />
        <span>Inicio</span>
      </NavButton>
      <NavButton href="#about">
        <UserIcon class="size-6 lg:size-8" />
        <span>Sobre mí</span>
      </NavButton>
      <NavButton href="#skills">
        <CodeIcon class="size-6 lg:size-8" />
        <span>Habilidades</span>
      </NavButton>
      <NavButton href="#projects">
        <PresentationIcon class="size-6 lg:size-8" />
        <span>Proyectos</span>
      </NavButton>
    </div>
  </div>
</nav>

<style>
  span {
    @apply text-xs lg:text-sm;
  }
</style>
